
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact</title>

    <link href="~/css/contact.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>

    <!-- Latest compiled JavaScript -->
    <script src="~/js/caroufredsel.js" type="text/javascript"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <header>
        <div class="container">
            <img src="~/images/Goal Pro Solutions Logo.png" alt="Alternate Text" class="logo" />
            <nav>
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a asp-action="About" asp-controller="Home">About</a></li>
                    <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                    <li><a asp-action="App" asp-controller="Home">Mobile App</a></li>
                    <li><a asp-action="Login" asp-controller="Users">Admin</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="contacts" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>OUR FOUNDATION</h2>
                    <div class="sub-heading">
                        <p>
                            GP Educational Foundation NPO 225-512-2018/020801/08 <br> <br>

                            •	Assists Goal Pro (Pty) Ltd with Goal Pro Solutions Programme (GPS)<br>
                            •	Aids in technology and GPS manuals to underprivileged areas<br>
                            •	Opportunity to volunteer<br>
                            •	Opportunity to donate
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>CONTACT US</h2>
                    <div class="sub-heading">
                        <p>
                            <span class="intro-icon"><i class="fa fa-envelope"></i></span>
                            Email: info@goalpro.co.za <br>
                            <span class="intro-icon"><i class="fa fa-phone"></i></span>
                            Mthoko Shange: 072 741 1614 <br>
                            <span class="intro-icon"><i class="fa fa-phone"></i></span>
                            Catherine De Vincenzo: 079 113 3822 <br>
                            <span class="intro-icon"><i class="fa fa-id-card"></i></span>
                            Follow us on: Instagram, Facebook and YouTube <br>
                            <a href="https://instagram.com/goalpro.education?igshid=1y16jyin5c0c1"  target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/Goal-Pro-801066263410948/"  target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.youtube.com/channel/UC_uNfeblBglyjftYLHa0dfA"  target="_blank"><i class="fa fa-youtube"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>