@model WILWebAppNetCore.Models.Users

@{
    ViewData["Title"] = "Login";
}

    <head>
        <link rel="stylesheet" href="~/css/Style.css" />
        @using WILWebAppNetCore.Classes

    </head>

<body>


    <div class="loginbox">
        <img src="~/images/person.png" alt="Alternate Text" class="user" />
        @*<img src="~/images/dailyquote/1.jpg" alt="Alternate Text" class="user" />*@
        <h2>Login</h2>

        @{
            if (!StaticClass.errorMessage.Equals("NO_ERROR"))
            {
                <h2 class="text-danger">@ViewBag.Message</h2>
            }
        }


        <div class="row">
            <div class="col-md-4">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label class="lblemail">Email:</label>
                        <input asp-for="Email" class="txtemail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="lblpass">Password:</label>
                        <input asp-for="Password" type="password" class="txtpass" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btnsubmit" />
                        <a href=@Url.Action( "ResetPassword","Users")>Lost your password?</a>
                    </div>

                </form>
            </div>
        </div>

    </div>


    @section Scripts
    {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>

