

@{
    ViewData["Title"] = "Notifications";
}

<head>
    <link rel="stylesheet" href="~/css/Style2.css" />
</head>

<h2 align="center">Notifications</h2>


<br>
<br>

<h3 align="center"> Click The link below to Send Notifications:</h3>

<br>
<br>



<a href="https://console.firebase.google.com/"><img src="~/images/firebaselogo.png" /></a>
