
@{
    ViewData["Title"] = "Reset Password";
}


<head>
    <link rel="stylesheet" href="~/css/StyleR.css" />
    @using WILWebAppNetCore.Classes

</head>

<body>

    <div class="loginbox">

        <img src="~/images/yellowlogo.png" alt="Alternate Text" class="user" />

        <h2>ResetPassword</h2>


        @{
            if (!StaticClass.errorMessage.Equals("NO_ERROR"))
            {
                <h2 class="text-danger">@ViewBag.Message</h2>
            }
        }

        
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ResetPassword">
                    <div class="form-group">
                        <label class="lblpass">Enter Password Reset Code</label>
                        <input type="password" name="resetCode" class="txtpass" required  />
                    </div>
                    <div class="form-group">
                        <label class="lblpass"> Enter New Password</label>
                        <input type="password" name="password" class="txtpass" required />
                    </div>
                    <div class="form-group">
                        <label class="lblpass">Confirm New Password</label>
                        <input type="password" name="confirmPass" class="txtpass" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset Password" class="btnsubmit" />
                    </div>


                </form>
            </div>
        </div>
    </div>


    @section Scripts
    {
       @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>