*, html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
}

.logo {
    margin-top: 20px;
    width: 200px;
    height: 100px;
}

header {
    height: 112px;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.secondary {
    background-color: #0AABE1;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}

ul {
    list-style: none;
}

    ul li {
        display: inline-block;
    }

header nav {
    float: right;
}

    header nav ul li a {
        padding-right: 20px;
        font-weight: bold;
        color: white;
        transition: all 0.5s ease-in
    }

        header nav ul li a:hover {
            text-decoration: none;
            color: red;
        }

.img1 {
    background-image: url(../images/students.jpg);
    background-size: 100% 100%;
}

.slider, .slider ul, .slider ul li {
    height: 800px;
    width: 100%;
    text-align: center;
}

    .slider h2 {
        margin-top: 250px;
    }

.img2 {
    background-image: url(../images/student2.jpg);
    background-size: 100% 100%;
}

.pro2 {
    margin-top: 50px;
    width: 200px;
    height: 100px;
}

.img3 {
    background-image: url(../images/jumping.jpg);
    background-size: 100% 100%;
}

.intro-area {
    position: relative;
    padding: 100px 0px;
    text-align: center;
}

.sub-heading {
    position: relative;
    margin-bottom: 75px;
}

    .sub-heading:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -3%;
        width: 6%;
        background-color: deepskyblue;
        z-index: 1;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .sub-heading:hover:before {
        width: 24%;
        margin-left: -12px;
    }

    .sub-heading::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12%;
        width: 24%;
        height: 1px;
        background-color: red;
    }

    .sub-heading p {
        color: #818181;
        display: inline-block;
        padding: 0px 0px 20px;
        position: relative;
        line-height: 24px;
        letter-spacing: 0.025em;
    }

.intro-block {
    position: relative;
    background: #f7f7f7;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
}

.intro-block:hover, .intro-block.active
{
    background:#0AABE1;
}

.intro-block:hover
{
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;
}

.intro-block .intro-icon
{
    position: absolute;
    top: -31px;
    left: 50%;
    margin-left: -31px;
}

.intro-block .fa
{
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #CCEEF9;
}

.intro-block:hover .fa, .intro-block.action .fa
{
    background: white;
    color: deepskyblue;
    box-shadow: 0px 0px 0px 10px deepskyblue;
}

.intro-block h3
{
    font-size: 18px;
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.intro-block p
{
    color: #505050;
}

.intro-block:hover h3, .intro-block:hover p
{
    color: #f6f6f6;
}

.feature-area 
{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(../images/supplies2.jpg);
    background-position: center;
    background-attachment: fixed; 
}

.title h2
{
    color: white;
}

.single-feature h3
{
    color: white;
}

.single-feature {
    position: relative;
    width: 325px;
    float: left;
    padding: 30px 0;
    text-align: center;
    border-right: 1px solid #65c8e5;
    border-bottom: 1px solid #65c8e5;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
}

.feature-block:after
{
    content: "";
    display: table;
}

.feature-block:after
{
    clear: both;
}

.feature-icon
{
    display: inline-block;
    margin-bottom: 20px;
}

.single-feature i.fa {
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #00a7dd;
    color: white;
    width: 64px;
    height: 64px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
}

.feature-block:hover .single-feature {
    border-color: white;
    transition: .6s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
}

.single-feature:hover .feature-icon .fa
{
    border: 2px solid #00a7dd;
    background: white;
    color: deepskyblue;
}

.single-feature:nth-of-type(even)
{
    border-right: none;
}

.single-feature:nth-last-child(2) 
{
    border-bottom: none;
}

.single-feature:last-child
{
    border-bottom: none;
}

.feature-area
{
    padding: 100px 0;
}

.title .sub-heading
{
    color: white;
}

.feature-area p
{
    color:white;
}

.feature-mockup {
    top: 80px;
    left: -110px;
    bottom: -225px;
    position: relative;
}

.img-responsive 
{

    width: 650px;
    height: 450px;
}

.more-feature-area .title h2 
{
    color: black;
}

.more-feature-area .title .sub-heading p 
{
    color: darkgrey;
}

.more-feature-area
{
    padding: 100px 0;
}
.feature-details p
{
     color: black;
}

.feature-list ul
{
    list-style: none;
}

.feature-list li
{
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}

.feature-list li:hover i
{
    color: white;
    background: #00a7dd;
     transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -ms-transition: .5s ease;
}

.feature-icon
{
    position: absolute;
    left:0;
}

.feature-icon i
{
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: deepskyblue;
    border-radius: 50%;
    border: 2px solid deepskyblue;
    line-height:63px;
}

.feature-details h3
{
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-details p
{
    color: #616161;
    font-weight: 200;
}

.more-feature-area img
{
    margin-left: 70px;
}

.testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(../images/supplies2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    margin-top: -100px;
}

.testimonials .carousel-indicators
{
    bottom: -60px;
}

.testimonials .sub-heading p
{
    color: white;
}

.carousel-inner img
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid deepskyblue;
    padding: 5px;
}

.testimonials .carousel-indicators li:active
{
    background-color: deepskyblue;
}

.testimonials .carousel-indicators li
{
    border: deepskyblue;
}

.team-area
{
    padding: 100px 0px;
}

.team-area .sub-heading
{
    margin-bottom: 100px;
}

.team-man
{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    overflow: hidden;
    min-height: 100px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    border: 10px solid deepskyblue;
    border-radius: 50%;
}

.team-man img
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
}

.team-man h3
{
    color: deepskyblue;
    font-size: 20px;
    font-weight: 700;
}

.pic 
{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    overflow: hidden;
    min-height: 100px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    border: 10px solid deepskyblue;
    border-radius: 50%;
}